.container#topbar {
	background: url('../images/cherokee-barbell-back.jpg') right no-repeat;
	width: 100%;
	height: 128px;
}

div#mission {
	height: 256px;
	text-align: center;
}

div#mission>h2 {
	font-size: 6em;
}

div#mission>p.well {
	background: #9fe866;
}

h2.section-heading {}

div.programs, div.testimonials {
	border-bottom: #eee thin solid;
	padding-right: 0;
}

.program, .testimonial {
	border-top-right-radius: 105px;
	border-bottom-right-radius: 105px;
	margin: 5px 10px;
}

.program {
	background: #010055;
	color: #eec;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
	background-color: #69bd28;
}

.nav-pills li a {
	color: #010099;
}

img.program-image {
	margin-left: 5px;
	margin-right: 0px;
	display: none;
}

img#logo {
	display: block;
	margin: auto;
}

#main {
}

#mynav {
	display: none;
}

#mynav.affix-top {
}

#mynav.affix {
	position: fixed;
	top: 100px;
}

#topnav {
	z-index: 1;
}

#topnav.affix {
	position: fixed;
	top: 0px;
	width: 100%;
}

#topnav.affix-top {
}

.container#main {
	margin-top: 0;
}

@media (min-width: 768px) {
	img.program-image {
		display: block;
	}

	.testimonial p {
		margin-left: 230px;
	}

	.container#topbar {
		height: 256px;
	}
	
}

@media (min-width: 990px) {
	#mynav {
		display: block;
	}
	
	.container#topbar {
		height: 364px;
	}
}
