{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'programs/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'programs/css/programs.css' %}">
	<!--[if lt IE 9]>
	<script src="{% static 'programs/js/html5shiv.js' %}"></script>
	<![endif]-->
</head>
<body>
	<div id="topbar" class="container"><h1><img id="logo" class="img-responsive" src="{% static 'programs/images/logo.png' %}"></h1></div>
	<div class="container">
		<nav id="topnav" class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">TempleFitness</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Not Home</a></li>
					<li><a href="#">Not Home</a></li>
					<li><a href="#">Not Home</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<!-- End top nav -->

	<div id="main" class="container">

		<div class="container col-md-2 col-sm-4">
			<ul id="mynav" class="nav nav-pills nav-stacked">
				<li class="active"><a href="#">Nav Item</a></li>
				<li><a href="#">Another Item</a></li>
				<li><a href="#">Wow! More nav!</a></li>
			</ul>
		</div>
		<!-- End sidebar nav -->
		
		<div class="container col-md-10 col-xs-12">
			
			<div id="mission" class="row">
				<h2>{{ mission_statement.title }}</h2>
				<p class="well">{{ mission_statement.content }}</p>
			</div>
		
			<div class="row programs">
			<h2 class="section-heading">Programs</h2>
				{% for fitness_program in fitness_programs %}
				<div class="row program col-lg-10 col-sm-12">
					<img src="{% static 'programs/images/' %}{{ fitness_program.image }}" class="program-image pull-right img-circle">
					<h3>{{ fitness_program.prog_name }}</h3>
					<p>{{ fitness_program.description }}</p>
				</div>
				{% endfor %}
			</div>
			<!-- End programs section -->

			<div class="row testimonials">
			<h2 class="section-heading">Testimonials</h2>
				{% for testimonial in testimonials %}
				<div class="row testimonial col-md-10 col-sm-12">
					<img src="{% static 'testimonials/images/' %}{{ testimonial.image }}" class="program-image pull-left img-circle">
					<p>"{{ testimonial.content }}"<br>
					--{{ testimonial.name }}</p>
				</div>
				{% endfor %}
			</div>
			<!-- End testimonials section -->
		</div>
	</div>
	<script src="{% static 'programs/js/jquery.min.js' %}"></script>
	<script src="{% static 'programs/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'programs/js/respond.min.js' %}"></script>
	<script src="{% static 'programs/js/programs.js' %}"></script>
</body>
</html>
